#VZ{
    font-size: 25px;
    font-style: oblique;
    text-align: center;
}
#paragraf1{
    text-indent: 10px;
    color: saddlebrown;
}
#paragraf2{
    text-indent: 10px;
    color: saddlebrown;
}
#paragraf3{
    text-indent: 10px;
    color: saddlebrown;
}