*{
    margin: 0px;
}
.content{
    display: flex;
    width: 100vw;    
    height: 100vh;
    background-color: darkgreen;
    justify-content: space-between;
    align-content: space-around
    
}
.sidebar{
    width: 200px;
    height: 300px;
    background-color: darkmagenta;
    
}
.sidebar2{
    width: 200px;
    height: 300px;
    background-color: blue;
    
}
.navbar{
    width: 200px;
    height: 300px;
    background-color: red;
}
.footer{
    width: 200px;
    height: 300px;
    background-color: chartreuse;
   
    
}
}