#prim-paragraf{
    color:#23AAEE;
    background-color: red;
    text-indent: 50px;
}

.paragrafe-rosi{
    text-indent: 100px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
       background-image: url(https://i.imgur.com/L9ZftiD.jpg);
       background-repeat: no-repeat;
       background-size: 100% ;

       
}
