*{
    margin: 0px;
}
.containt{
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rosybrown;
}
.nav-bar{
    height: 70px;
    width: 100%;
    background-color: saddlebrown;
}
.main1{
    height: 70px;
    width: 50%;
    background-color:blue;
    flex-grow:0.2 ;

    
}
.main2{;
    
    height: 70px;
    width: 50%;
    background-color:red;
    flex-grow:1;
}
.footer{
    height: 70px;
    width: 100%;
    background-color:purple;
}